.coins-info-block{
  margin-top: 15px;
}
.coins-info-block .coin-item:not(:last-child){
  margin-bottom: 10px;
}
.coins-info-block .coin-item div:first-child{
  display: flex;
  align-items: center;
  gap: 10px;
}
.coins-info-block .coin-item{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  background: var(--table-block-color);
  padding: 10px;
  border-radius: 5px;
}
.coin-icon{
  border-radius: 50%;
}
.coin-icon img{
  border-radius: 50%;
  width: 30px; height: 30px;
}
