// @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


// vars
:root {
  --block-hover: #1e2750;
  --block-border-hover: #4e63b6;
  --block-shadow: var(--block-shadow);

  --primary: #5b9aec;
  --hover-primary: #5b9aeccc;
  --danger: #ff7782;
  --hover-danger: #ff7782cc;
  --success: #41f190;
  --hover-success: #41f190cc;
  --warnig: #ff8f4e;
  --hover-warnig: #ff8f4ecc;
  --hover-main-color: #1b2431;
  --light-main-color: #162235;
  --main-color: #0c1421;
  --input-bg: #323546;
  --border-color: #303646;
  --brand-hover-color: rgb(6, 157, 177);
  --brand-color: #1abee4;
  --secondary-color: #222431;
  --tertiary-color: #2f3141;
  --button-color: #4c516e;
  --button-hover-color: #40445c;
  --secondary-text-color: #676a7b;
  --main-text-color: #f6f6f6;
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--secondary-color) !important;
  // border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color) !important;
  // border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
  // border-radius: 10px !important;
  height: 50px;
  background: var(--button-color) !important;
}
// .content {
//   padding: 10px;
//   width: 80%;
//   margin: 0 auto;
// }
// @media screen and (max-width: 991px){
//   .content{
//     width: 100%;
//   }
// }
.row{
  width: 100%;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 991px){
  .row{
    flex-direction: column;
  }
  .col-md-1{
    width: 100% !important;
  }
  .col-md-2{
    width: 100% !important;
  }
  .col-md-3{
    width: 100% !important;
  }
  .col-md-4{
    width: 100% !important;
  }
  .col-md-5{
    width: 100% !important;
  }
  .col-md-6{
    width: 100% !important;
  }
  .col-md-7{
    width: 100% !important;
  }
  .col-md-8{
    width: 100% !important;
  }
  .col-md-9{
    width: 100% !important;
  }
  .col-md-10{
    width: 100% !important;
  }
  .col-md-11{
    width: 100% !important;
  }
  .col-md-12{
    width: 100% !important;
  }
}
.col-md-1{
  width: 8.33333333333%;
}
.col-md-2{
  width: 16.6666666667%;
}
.col-md-3{
  width: 25%;
}
.col-md-4{ 
  width: 33.3333333333%;
}
.col-md-5{
  width: 41.6666666667%;
}
.col-md-6{
  width: 50%;
}
.col-md-7{
  width: 58.3333333332%;
}
.col-md-8{
  width: 66.6666666667%;
}
.col-md-9{
  width: 7.0000000002%;
}
.col-md-10{
  width: 83.3333333333%;
}
.col-md-11{
  width: 91.6666666666%;
}
.col-md-12{
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--input-bg) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-bg) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: var(--main-text-color) !important;
}
.btn-without-background{
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.text-center{
  text-align: center;
}
button.btn-without-background:hover{
  background: unset !important;
}
//
.toast{
  box-shadow: none !important;
  // transition: .1s ease;

  border-radius: 10px !important;
}
*{
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-size: 14px;
}
a{
  text-decoration: none !important;
  color: #fcfcfc !important;
}
.nav-panel{
  height: 100%;
  display: flex;
}
.nav-panel a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: .2s ease;
  padding: 5px 10px;
}
.nav-panel a:hover{
  background: #8686861a;
}
.text-muted{
  color: #a7abb2 !important;
}
.text-small{
  font-size: 12px !important;
}
.text-medium{
  font-size: 14px !important;
}
.text-big{
  font-size: 16px !important;
}
.text-xl{
  font-size: 18px !important;
}
.text-xxl{
  font-size: 20px !important;
}
.text-bold{
  font-weight: 700 !important;
}
body{
  color: var(--main-text-color);
  background: var(--main-color);
  font-family: "Inter", serif;
  overflow-x: hidden;
  // font-family: "IBM Plex Sans", serif;
}
.content{
  padding: 10px;
}
.vertical-separator{
  height: 75%;
  border-right: 1px solid var(--border-color);
  padding-left: 15px;
  margin-right: 15px;
}
input:hover{
  // border: 1px solid var(--block-border-hover);
  // height: 36px;
}
input:focus, select:focus{
  outline: 2px solid #9e9e9e17;
}
input, select{
  width: 100%;
  // transition: .2s ease !important;
  padding: 16px 20px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px !important;
  font-weight: 600;
  border: unset;
  background-color: var(--input-bg);
  color: var(--main-text-color) !important;
}
.form-button:hover{
  background: var(--button-hover-color);
}
.small-button{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.form-button{
  transition: .3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background: var(--button-color);
  color: var(--main-text-color);;
}
.form-control{
  display: flex;
  width: 100%;
}
button:hover{
  background: var(--button-hover-color);
}
button{
  transition: .3s ease;
  cursor: pointer;
  border: unset;
  background: var(--button-color);
  color: var(--main-text-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.form-control input,
.form-control select{
  border-radius: 5px 0 0 5px;
  border-right: unset;
  width: 100%;
}
.form-control .form-button .loader,
.form-control .form-button .btn-icon{
  font-size: 20px !important;
  background: transparent;
}
.form-control .form-button{
  border-radius: 0 5px 5px 0;
  width: 50px;
  height: 50px;
}
label{
  margin-bottom: 5px;
  display: block;
  font-weight: 700;
}