#dop-control-panel
  .dop-info-crypto
    Крипта
  .vertical-separator
    -# .main-prices
    -#   .loader= fa_icon "circle-o-notch spin"
    -# .control-btns
    -#   #find-crypto-modal-btn.form-button.small-button
    -#     = fa_icon :search
    -#   #refresh-main-prices-btn.form-button.small-button
    -#     = fa_icon :refresh
.content
  .text-right
    .text-muted.text-big{ style: "margin-bottom: 5px;" } Всего средств
    .text-bold
      .text-xxxl= "$#{get_total_equity}"     
