#dop-control-panel
  .dop-info-crypto
    -# .main-prices
    -#   .loader= fa_icon "circle-o-notch spin"
    -# .control-btns
    -#   #find-crypto-modal-btn.form-button.small-button
    -#     = fa_icon :search
    -#   #refresh-main-prices-btn.form-button.small-button
    -#     = fa_icon :refresh
.content
