#dop-control-panel
  Расходники
  .dop-info-controls
    %span.text-muted.one-drop-info
      = one_drop_ml
    #new-parfum-material-modal.form-button.small-button
      = fa_icon :plus
.content
  .row 
    .col-md-2
    .col-md-8
      .parfum-material-block.block
        - @parfum_materials.each do |pm|
          = render partial: "parfum_material_item", locals: { pm: pm }
    .col-md-2

